@import url('https://fonts.googleapis.com/css2?family=Glory:wght@100;200;300;400;500;600;700;800&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Glory', sans-serif;
}

/* Navigation bar */
.navigationBar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: auto;
   z-index: -2;
   background: #000;
}

.navigationBar div {
   margin: 15px 50px;
}

.navigationBar .logoName {
   font-size: 25px;
   font-weight: 800;
   color: #fff;
}

.navigationBar .sectionName {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sectionName .btn {
   margin-right: .5em;
   font-size: 18px;
   text-decoration: none;
   color: #fff;
   cursor: pointer;
   overflow: hidden;
   position: relative;
   padding: 8px 28px;
   border-radius: 5px;
   z-index: 3;
}

.sectionName .btn::before {
   content: "";
   position: absolute;
   height: 0%;
   width: 100%;
   left: 0;
   z-index: -1;
   background: #3498db;
   bottom: 0;
   border-radius: 50% 50% 0 0 ;
   transition: .6s;
}

.btn:hover::before {
   height: 180%;
}

/* Homepage  */
#home {
   display: flex;
   background: url('https://www.wallpaperup.com/uploads/wallpapers/2018/07/07/1272412/7be4698ba173f10dda790d1c8a3f8d2b.jpg');
   position: absolute;
   height: 89vh;
   width: 100%;
   background-size: cover;
   overflow-y: hidden;
}

#home .Contents {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 120px;
   color: #b4b4b4;
   font-size: 2em;
   width: 100vw;
}

#home .Contents .body h1>span {
   color: #3498db;
}